@font-face {
  font-family: 'Grotesk';
  src: url('fonts/SpaceGrotesk-VariableFont_wght.ttf');
  font-weight: 500;
}

:root {
  --error: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --purple: hsl(249, 99%, 64%);
  --dark-purple: hsl(278, 94%, 30%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Grotesk', sans-serif;
}

/* hide input number type arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  overflow-x: hidden;
}

/* position */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/* flex styles */
.d-flex {
  display: flex;
}

.d-flex_col {
  flex-direction: column;
}

.flex_50 {
  flex: 50%;
}

.txt-white {
  color: var(--white);
}

/* card-container section*/
.card-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* back of the card */
.card-container_back {
  top: 7%;
  right: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 35px 50px -12px;
  border-radius: 0.25em;
}

.cards {
  width: 260px;
}

.card-back_cvc {
  width: fit-content;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  top: 65px;
  right: 30px;
}

/* front of the card */
.card-container_front {
  top: 20.7%;
  left: 5%;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 35px 50px -12px;
  border-radius: 0.25em;
}

.card-info-container {
  width: 100%;
  height: 100%;
  padding: 1.1em;
  justify-content: space-between;
  align-items: center;
}

.circles {
  align-self: flex-start;
  gap: 0.5em;
}

.big-circle {
  width: 25px;
  display: block;
  aspect-ratio: 1/1;
  border-radius: 1em;
  background: var(--white);
}

.small-circle {
  width: 13px;
  display: block;
  aspect-ratio: 1/1;
  border-radius: 1em;
  border: 1px solid var(--light-grayish-violet);
  align-self: center;
}

.cardNo {
  letter-spacing: 0.15rem;
  margin-bottom: 0.7em;
}

.cardholder-info {
  font-size: 0.5rem;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--light-grayish-violet);
  letter-spacing: 0.05rem;
}

/* form */
form {
  margin: 4.5em 1.5em;
  gap: 1em;
}

label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
  color: var(--very-dark-violet);
}

input {
  border: 1px solid var(--light-grayish-violet);
  border-radius: 0.5em;
  padding: 0.5em 0.75em;
  margin-top: 0.35em;
  width: 100%;
  font-size: 1.04rem;
  color: var(--very-dark-violet);
  cursor: pointer;
}

::placeholder {
  opacity: 0.25;
}

.month-cvc-container {
  gap: 0.75em;
}

.expire-fields-container {
  gap: 0.5em;
}

.expire-fields {
  width: 100%;
}

input.valid {
  border: 1px solid var(--dark-purple);
}

input.invalid {
  border: 1px solid var(--error);
}

.error-msg {
  font-size: 0.75rem;
  margin-top: 0.5em;
  color: var(--error);
}

.confirm-btn {
  cursor: no-drop;
}

.confirm-btn,
.continue-btn {
  background-color: var(--very-dark-violet);
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 0.65em;
  font-size: 1.04rem;
}

.confirm-btn:hover,
.continue-btn:hover {
  background-color: var(--dark-purple);
}

/* card successfully added */
#card-success-container {
  display: none;
}

.card-success-container {
  max-width: 400px;
  align-items: center;
  gap: 1.5em;
}

.success-icon {
  width: 80px;
}

.thanks {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--very-dark-violet);
  font-size: x-large;
  font-weight: normal;
}

.inform-txt {
  color: var(--Dark-grayish-violet);
}

.continue-btn {
  align-self: stretch;
  margin-top: 1.5em;
}

@media all and (min-width: 375px) {
  .card-container_front {
    -webkit-animation: front-card_to-right 2s ease 0s infinite alternate-reverse both;
    animation: front-card_to-right 2s ease 0s infinite alternate-reverse both;
  }

  @keyframes front-card_to-right {
    0% {
      transform: translateX(70px);
    }

    100% {
      transform: translateX(-10px);
    }
  }

  .card-container_back {
    -webkit-animation: back-card_to-left 2s ease 0s infinite alternate-reverse both;
    animation: back-card_to-left 2s ease 0s infinite alternate-reverse both;
  }

  @keyframes back-card_to-left {
    0% {
      transform: translateX(-50px);
    }

    100% {
      transform: translateX(5px);
    }
  }
}

@media all and (min-width: 550px) {
  .card-container_back {
    right: 15%;
  }

  .card-container_front {
    left: 15%;
  }

  form {
    max-width: 400px;
    margin: 4.5em auto;
  }
}

@media all and (min-width: 800px) {
  main {
    display: flex;
    align-items: center;
  }

  .card-img {
    all: unset;
    height: 100vh;
  }

  .card-container_front {
    top: 24.7%;
    left: 10%;
    animation: none;
  }

  .card-container_back {
    top: 54%;
    left: 5%;
    width: fit-content;
    animation: none;
  }

  form {
    flex: 2;
  }
}

@media all and (min-width:1000px) {
  .card-container_back {
    left: 15%;
  }
}